@define-color nord_bright_blue #81a1c1;
@define-color nord_bg_blue #4c566a;
@define-color nord_bg_dark_blue #434C5E;
@define-color nord_bg_darkest_blue #2e3440;
@define-color text #d8dee9;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    margin: 1px 0px 2px 0px;
    color: @nord_bg_darkest_blue;
    font-family: NotoSans Nerd Font Regular;
    font-size: 16px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.0);
}

#workspaces {
    border-radius: 10px;
}

#workspaces button * {
    margin-left: -1px;
    color: @nord_bg_blue;
    font-size: 24px;
}

#workspaces button:hover {
    background-color: inherit;
}

#workspaces button:hover label {
    color: @nord_bright_blue;
    font-size: 24px;
}

#workspaces button.active label {
    color: @text;
}

#workspaces button.urgent label {
    color: #bf616a;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#language,
#idle_inhibitor,
#scratchpad {
    color: @text;
}

tooltip * {
  color: @text;
  background: rgba(0, 0, 0, 0);
}

#tray * {
    color: @text;
}

#tray menu menuitem * {
    color: @nord_bg_darkest_blue;
}

#tray menu menuitem:disabled * {
    color: #8e98Ac;
}

#tray menu menuitem:hover {
    background-color: @text;
}

#language {
    font-size: 21px;
}

#clock {
    font-size: 24px;
}

